:root {
    --slide-animation-1: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s both;
    --slide-animation-2: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
    --slide-animation-3: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .7s both;
    --slide-animation-4: slide-in-top .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1.8em);
              transform: translateY(-1.8em);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1.8em);
              transform: translateY(-1.8em);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }