  #mobile-menu {
    width: 100%;
    z-index: 2;
}  
  #burger-bar {
    width: 2.8em;
    margin: 1.5em 0 1.25em 1.25em;
    cursor: pointer;  
}  
  .bar {
    height: .3em;
    width: 100%;
    background-color: #f3faff;
    display: block;
    border-radius: .3em;
    transition: 0.3s ease;
}  
  #bar1 {
	  transform: translateY(-.25em);
}  
  #bar3 {
	  transform: translateY(.25em);
}  
  .nav {
    position:absolute;
    top: 0;
    left: 0;
    transform: translateX(-150%);
    transition: 0.3s ease;
    height: 100vh;
    width: 80%;
    padding: 8em 0 0;
    z-index: -1;
    box-shadow: 0px 5px 10px 0px #1E340950;
}  
  .nav ul {
	  padding: 0 1.6em;
}  
  .nav li {
    padding: .8rem 0;
  }
  .nav li a {
    font-size: 1.8rem;
}  
 
  .change {
    display: block;
    transform: translateX(0);
}
 
  .change #bar1 {
	  transform: translateY(4px) rotateZ(-45deg);
}  
  .change #bar2 {
	  opacity: 0;
}  
  .change #bar3 {
	  transform: translateY(-6px) rotateZ(45deg);
} 
.no-scroll {
  overflow: hidden;
}


