*, *::before, *::after {
    box-sizing: border-box;
  }
html, body {
    margin: 0;
    padding: 0;
}
:root {
    --backround-main: #f8dbd9;
    --pink-light: #FDF3F6;
    --red-main: #FC5E39;
    --pink-main: #F48876;
    --blue-dark: #232A79;
    --purple-light: #7367F2;
    --purple-dark: #473F8B;
}
body {
    color: var(--pink-light);
    font-family: 'Josefin Sans', sans-serif;
}

img {
    display: block;
     max-width: 100%; 
}

a {
    text-decoration: none;
}
h1 {
    font-size: clamp(1.8rem, 3.5vw, 2.4rem);
}
h2 {
    font-size: clamp(1.6rem, 3.5vw, 2.2rem);
}
h3 {
    font-size: clamp(1.4rem, 3.5vw, 2rem);
}
h4 {
    font-size: clamp(1.2rem, 3.5vw, 1.6rem);
}
li {
    list-style: none;
}
.home {
    display: grid;
    background-color: var(--purple-dark);
    min-height: 100vh;
}

.left-start { 
    padding: 2em;  
}
.fountain-pen--static {
    margin-bottom: 1em
}
.fountain-pen {
    filter: drop-shadow(2px 2px 2px rgb(40, 40, 40));
}
.home-hello {
    background-color: var(--backround-main);
    color: var(--blue-dark);
    border: var(--red-main) solid 2px;
    padding: 1rem;
    margin-bottom: 2em;
}
.home-hello h1 {
    margin: 1rem 0;
}
.SVG_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: 1em auto;
}
.SVG_container svg {
    width: clamp(2em, 3.5vw, 5em);
    fill: var(--backround-main);
}
.visible.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: .3em 1em;
    z-index: 2;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    transition: .5s;
}

.header {
    display: none;
    width: 100%;
}
.SVG_container--header {
    display: none;
}

.header svg {   
    fill: var(--pink-light);
    width: clamp(1.8em, 3.5vw, 3em);

 }
 .header h1 {
    animation: var(--slide-animation-1);
    -webkit-animation: var(--slide-animation-1);
 }
 .fountain-pen--header {
    animation: var(--slide-animation-2);
    -webkit-animation: var(--slide-animation-2);
 }

 /* sections */
 .section-content {
    min-height: 100vh;
 }
 .section-inner {
    padding: 5em 2em 0;
    display: grid;
 }

 #about {
    background-color: var(--pink-main);
 }
 #skills img {
    width: 15%;
 }
 #skills span {
    display: flex;
    justify-content: space-evenly;
 }
 #projects {
    background-color: var(--purple-light);
 }
 .project-wrapper {
    display: flex;
    gap: 1.5em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.projects {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: .3em;
    scroll-snap-align: center;
}
.projects a {
    color: inherit;
}

#contact {
    background-color: var(--backround-main);
    color: var(--blue-dark)
}
.inner-contact h3 {
    margin-top: 0;
}
footer {
    background-color: var(--purple-dark);
    color: var(--backround-main);
}
footer p {
    margin: 0;
    padding: .3em
}


@media (min-width: 768px) {
    .home{
        grid-template-columns: repeat(2, 50%);
    }
    .SVG_container--header {
        display: flex;
        justify-content: flex-end;
        gap: 3em;
        animation: var(--slide-animation-1);
        -webkit-animation: var(--slide-animation-1);
    }
    .fountain-pen--header {
        width: 60%;
    }
    .section-inner {
        padding: 8em 2em 0;
    }
    .inner-about {
        grid-template-columns: repeat(2, 1fr);       
    }
    .inner-projects{
        display: grid;
        grid-template-columns: repeat(3, 1f);
        overflow-y: scroll;
     }
    .projects {
        width: 40%;
    }
    .project-title {
        margin-bottom: .2em;
    }
     .project-description {
        display: none;
     }
     .inner-contact {
        padding-top: 8em;

     }
}