*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
html, body {
    margin: 0;
    padding: 0;
}
:root {
    --backround-main: #f8dbd9;
    --pink-light: #FDF3F6;
    --red-main: #FC5E39;
    --pink-main: #F48876;
    --blue-dark: #232A79;
    --purple-light: #7367F2;
    --purple-dark: #473F8B;
}
body {
    color: var(--pink-light);
    font-family: 'Josefin Sans', sans-serif;
}

img {
    display: block;
     max-width: 100%; 
}

a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-size: clamp(1.8rem, 3.5vw, 2.4rem);
}
h2 {
    font-size: clamp(1.6rem, 3.5vw, 2.2rem);
}
h3 {
    font-size: clamp(1.4rem, 3.5vw, 2rem);
}
h4 {
    font-size: clamp(1.2rem, 3.5vw, 1.6rem);
}
p {
    font-size: clamp(1rem, 3.5vw, 1.25rem);
}
li {
    list-style: none;
}
.home {
    display: grid;
    background-color: var(--purple-dark);
    min-height: 100vh;
}

.left-start { 
    padding: 2em;  
}
.fountain-pen--static {
    margin-bottom: 1em
}
.fountain-pen {
    filter: drop-shadow(2px 2px 2px rgb(40, 40, 40));
}
.home-hello {
    background-color: var(--backround-main);
    color: var(--blue-dark);
    border: var(--red-main) solid 2px;
    padding: 1rem;
    margin-bottom: 2em;
    filter: drop-shadow(3px 3px 3px rgb(40, 40, 40, .4));
}
.home-hello h1 {
    margin: 1rem 0;
}
.SVG_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 60%;
    margin: 1em auto;
}
.SVG_container svg {
    width: clamp(2em, 3.5vw, 5em);
    fill: var(--backround-main);
}

.header,  .desktop-header{
    display: none;
}
.visible.header {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding:  1em;
    z-index: 2;
    align-items: center;
    transition: .5s;
    animation: var(--slide-animation-4);
    -webkit-animation: var(--slide-animation-4);
    filter: drop-shadow(0 1px 2px rgb(40, 40, 40, .5));
}

#desktop-nav{
    display: flex;
    gap: 1em;
    padding: 0;
    justify-content: center;
    font-size: clamp(1rem, 4.5vw, 2rem);
}
#desktop-nav a {
    color: var(--blue-dark);
    transition: .3s;
}
#desktop-nav a:hover, 
#desktop-nav a:focus {
    background-color: var(--red-main);
    transform: scale(1.1);
    border-radius: 2px;
    filter: drop-shadow(2px 2px 1px rgb(40, 40, 40, .5));
}

.header svg {   
    fill: var(--pink-light);

 }
 .fountain-pen--header {
    transition: .3s;
    width: 85%;
 }
 .fountain-pen--header:hover, 
 .fountain-pen--header:focus {
    filter: drop-shadow(2px 2px 5px rgb(40, 40, 40));

 }

 /* sections */
 .section-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
 }
 .section-inner {
    padding: 2em 2em 0;
    display: grid;
 }

 #about {
    color: var(--blue-dark);
    background-color: var(--pink-main);
 }
 .about--list h4 {
    margin: .4em 0;
}
.inner-about {
    padding-top: 0;
}
 #skills img {
    width: 15%;
 }
 #skills span {
    display: flex;
    justify-content: space-evenly;
 }
 #projects {
    background-color: var(--purple-light);
 }
 .project-wrapper {
    display: flex;
    gap: 1.5em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.projects {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 0 .3em;
    scroll-snap-align: center;
}

#contact {
    background-color: var(--backround-main);
    color: var(--blue-dark);
    justify-content: center;
}
.inner-contact {
    padding-top: 0;
}

.inner-contact h3 {
    margin-top: 0;
}

.inner-contact a:hover, 
.inner-contact a:focus {
    text-decoration: underline;
}
footer {
    background-color: var(--purple-dark);
    color: var(--backround-main);
    padding: .4rem
}
footer p {
    margin: 0;   
}

@media (min-width: 769px) {
    .home{
        grid-template-columns: repeat(2, 50%);
    }
    .mobile-header {
        display: none;
    }
    .header {
        display: none;
    }
    .visible.header {
        padding: 0;

    }
  .desktop-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: .3em;
    }
    
    .SVG_container--header {
        display: flex;
        justify-content: flex-end;
        gap: 2em;

    }
    .SVG_container--header svg {
        transition: .3s;
        width: clamp(2em, 3.5vw, 3em);

    }
    .SVG_container--header svg:hover,
    .SVG_container--header svg:focus {
        filter: drop-shadow(2px 2px 2px rgb(44, 44, 44));
    }
  
    .section-inner {
        padding: 7em 2em 0;  
    }
    .inner-about {
        grid-template-columns: repeat(2, 1fr);     
    }
    .about--list h4 {
        margin: 1em 0;
    }
   
    .inner-projects{
        display: grid;
        grid-template-columns: repeat(3, 1f);
     }
     .inner-projects a:hover, 
     .inner-projects a:focus {
        text-decoration: underline;
     }
     .project-wrapper {
        width: 70%;
        margin: 0 auto;
     }
     
    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
    .project-img {
        grid-area: 1/1/2/2;
    }
    .project-description {
        grid-area: 1/2/1/2;
        align-self: center;
        text-align: justify;
        line-height: 1.1;
    }

    .project-title {
        align-self: self-start;
        margin-top: 0;
        grid-area: 1/2/1/2;
    }
    .project-links {
        grid-area: 1/2/1/2;
    }
   
}